<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="x-ua-compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LibProtection Test Page - LibProtection Playground</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/Site.css" />
    <script src="javascripts/jquery-1.10.2.js" ></script>
    <script src="javascripts/bootstrap.js" ></script>
</head>

<body>
	<form>
		<div>
			<% include partials/header %>

			<% if (!ids.includes(id)) { %>
				<div class="alert alert-dismissible alert-warning">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					<strong>Unknown language provider: <%= id %></strong>
				</div>
			<% } else { %>
				<div style="width:100%">
					<div style="margin-top: 20px">
						<h5>Vulnerable operation:</h5>
						<%= exampleOperation %>
					</div>
					<div style="display: table; width: 100%; margin-top: 20px">
						<div style="padding-right: 10px; display: table-cell; width: 50%">
							<h5>Format string:</h5>
							<input class="form-control" type="text" value="<%= format %>" ID="format" <% inputsAreDisabled ? "disabled=\"disabled\"" : "" %> />
						</div>
						<div style="padding-left: 10px; display: table-cell; width: 50%">
							<h5>Arguments <small class="text-muted">(one per line):</small></h5>
							<textarea class="form-control" rows="5" ID="parameters"><%= parameters %></textarea>
						</div>
					</div>
					<div style="text-align: right; margin-top: 20px">
						<input style="width: 160px; display: inline-block" class="form-control" type="button" id="button" value="Try format" />
					</div>
				</div>
				<% if(result.Exception === null) { %>
				
					<div style="margin-top: 20px">
						<h5>Format result:</h5>
						<%= result.FormatResult %>
					</div>
					<div style="margin-top: 20px">
						<h5>Vulnerable operation result:</h5>
						<% if(!result.OperationResult) { %>
							<span class="text-warning">None</span>
						<% } else { %>
							<span class="text-success" id="operationResult"><%= result.OperationResult %></span><!--!!!!!!!!!!!!!! -> -   -->
						<% } %>
					</div>
				<% } else if (result.Exception.constructor.name === "AttackDetectedException") { %>
						<div class="alert alert-dismissible alert-danger">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Attack detected!</strong> Vulnerable operation was not executed
						</div>
				<% } else { %>
						<div class="alert alert-dismissible alert-warning">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Exception occured: <%= result.Exception %></strong>
						</div>
				<% } %>

				<script>
					button.onclick = function() {
						 window.location =
							 "?Id=" +
							 encodeURIComponent("<%= id %>") +
							 <% if (!inputsAreDisabled) { %> 
							 "&Format=" + encodeURIComponent(window.format.value) +
							 <% } %>
							 "&Parameters=" + encodeURIComponent(window.parameters.value);
					}
				</script>
				<hr />
			<% } %>
			
			<div>
				<script>
					document.addEventListener("DOMContentLoaded", function () {
						window.grammarSelectorId.value = "<%= id %>";
						window.grammarSelectorId.onchange = function () {
							window.location = "?Id=" + encodeURIComponent(window.grammarSelectorId.value);
						}
					});
				</script>

				<div id="exampleFormsId">
					<script>
						let option;
						<% ids.forEach( item => { %>
							option = document.createElement("option");
							option.text = "<%= item %>";
							grammarSelectorId.add(option);
						<% }); %>
					</script>
				</div>
			</div>
			
			<% include partials/footer %>
		</div>
	</form>
</body>
</html>